* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.slider {
    margin: 2rem auto;
    width: 90%;
    /* position: relative; */
    display: flex;
}

.slider__section__img {
    flex: 1 1 auto;
}

.slider__img {
    display: none;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.slider__section__tumb {
    position: relative;
    flex: 0 0 auto;
}

.slider__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    inset: 0;
    margin: .5rem 0;
    z-index: 1;
}

.btn-up, .btn-down {
    background-color: rgba(255, 255, 255, .3);
    color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .15s linear;
}

.btn-up:hover, .btn-down:hover {
    transform: scale(.95);
}

.img__tumb {
    display: block;
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: center;
    background: rgba(0, 0, 0, .7);
    opacity: .7;
    border: 1px solid transparent;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.selected {
    opacity: 1;
    border: 1px solid white;
}
